:root{
  --color-primary: #FF6060;
}

*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html{
  font-size: 62.5%;
}

body{
  margin: 0 auto;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 500;   
}