.footer{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.footer_link{
    margin-top: 6rem;
}

.footer_p{
    padding: 3rem;
    font-size: 2.4rem;
}

@media only screen and (min-width: 300px) and (max-width: 1024px){
    .footer_p{
        margin-bottom: 3rem;
        font-size: 1.2rem;
    }
}