.not-found{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
    text-align: center;
}

.not-found div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.not-found_title{
    font-size: 28.8rem;
    font-weight: 700;
    padding: 3rem;
}

.not-found_subtitle{
    font-size: 3.6rem;
    font-weight: 500;
    padding: 3rem;
}

.not-found_link{
    color: var(--color-primary);
    font-size: 1.8rem;
    font-size: 500;
    margin: 18rem 0;
}

@media only screen and (min-width: 300px) and (max-width: 1024px){
    .not-found{
        justify-content: center;
    }

    .not-found_title{
        font-size: 9.6rem;
    }
    
    .not-found_subtitle{
        font-size: 1.8rem;
    }
    
    .not-found_link{
        font-size: 1.4rem;
    }
}