.thumb{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 1rem;
    position: relative;
    width: 34rem;
    height: 34rem;
    /* min-width: 34rem; */
    /* height: 34rem;
    width: 28%; */
    margin: 2.5rem;
    list-style: none;
}

.thumb_image{
    border-radius: 1rem;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.thumb_title{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem;
    color: white;
    text-align: left;
    font-weight: 500;
    font-size: 1.8rem;
}